
<% if employee.errors.any? %>
    <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

    <ul>
      <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
<% end %>

<%= form_for @employee do |form| %>
  <p>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </p>

  <p>
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :employee_last_name %>
  </p>

  <p>
    <%= form.label :phn_num %>
    <%= form.text_field :phn_num, id: :employee_phn_num %>
  </p>

  <p>
    <%= form.label :address %>
    <%= form.text_area :address, id: :employee_address %>
  <p>

  <p>
    <%= form.label :email %>
    <%= form.text_area :email, id: :employee_email %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
