

<h1>Employees</h1>

<p>
<%= link_to "Add new employee", new_employee_path %>
</p>

<table>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phn num</th>
      <th>Address</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>

    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.phn_num %></td>
        <td><%= employee.address %></td>
        <td><%= employee.email %></td>
        <td><%= link_to 'Show', employee_path(employee) %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Delete', employee_path(employee),
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
