<h1 align="center">Add New Equipment</h1>
<%= form_for @equipment do |f| %>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :equip_type %><br/>
      <%= f.text_field :equip_type %>
    </p>

    <p>
      <%=  f.label :make %><br/>
      <%= f.text_field :make %>
    </p>

    <p>
      <%= f.label :model %><br/>
      <%= f.text_field :model %>
    </p>

    <p>
      <%= f.label :serial_num %><br/>
      <%= f.text_field :serial_num %>
    </p>

    <p>
      <%= f.label :mfd %><br/>
      <%= f.text_field :mfd %>
    </p>

    <p>
      <%= f.label :vendor %><br/>
      <%= f.text_field :vendor %>
    </p>

    <p>
      <%= f.label :purchase_price %><br/>
      <%= f.text_field :purchase_price %>
    </p>

    <p>
      <%= f.label :owner %><br/>
      <%= f.text_field :owner %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>